# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
auth/

# Django
db.sqlite3
media/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Migrations cache
*.pyc